/* #region - Utilities */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

:root {
  --primary-light: #e2f4f9;
  --primary-medium: #b1e9f9;
  --primary-dark: #6dd1ed;
  --neutral-light: #e7ebfb;
  --neutral-medium: #e8eced;
  --neutral-dark: #364153;

  --major-font: 'Outfit', sans-serif;
  --minor-font: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  background-color: #fff;
  font-family: var(--minor-font);
  margin: 0;
  padding: 0;
}

.btn-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background-color: var(--primary-light);
  color: #000;
  display: inline-block;
  padding: 1.75rem 2rem;
  font-family: var(--minor-font);
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #222;
}

.btn:active {
  scale: 0.95;
}

h1 {
  font-family: var(--major-font);
  font-weight: 600;
  font-size: 6rem;
  line-height: 110%;
}

h2 {
  font-family: var(--major-font);
  font-size: 3.5rem;
  padding-bottom: 1rem;
  line-height: 110%;
  text-wrap: balance;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 0.4rem;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
}

p {
  font-size: 1.125rem;
}

.hidden {
  display: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* #endregion - Utilities */

/* #region - Top Banner */
.top-banner {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
}

.top-banner * {
  font-size: 0.875rem;
}

/* #endregion - Top Banner */

/* #region - Main Nav */
.main-nav {
  padding: 1rem 0;
}
.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .logo {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--major-font);
}

.main-nav .container ul {
  display: flex;
  gap: 2rem;
}

.main-nav .btn.cta {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.mobile-menu-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
}

.line {
  width: 18px;
  border: solid 1.5px #000;
  border-radius: 5px;
}

/* .mobile-menu-btn .middle-line {
  margin: -2px auto;
} */

/* #endregion - Main Nav */

/* #region - Header */
header {
  text-align: center;
  padding-top: 3rem;
  position: relative;
}

.hand-pointing-img {
  position: absolute;
  left: 0;
}

header .container {
  max-width: 800px;
  display: grid;
  gap: 2rem;
}

header p {
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--neutral-dark);
  text-wrap: balance;
}

header .btn-wrapper {
  padding-bottom: 8rem;
}

header .btn-wrapper a:first-child {
  background-color: #000;
  color: #fff;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  width: 100%;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--primary-light) 38%
  );
  height: 50%;
}
/* #endregion - Header */

/* #region - Customize */
.customize {
  background-color: #000;
  color: #fff;
  padding: 6rem 0 3rem;
}

.customize .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customize .cards {
  padding: 4rem 0;
  column-count: 4;
}

.customize .card {
  text-align: center;
  max-width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.customize .card img {
  background-color: var(--primary-medium);
  border-radius: 50%;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
/* #endregion - Customize */

/* #region - About */
.about {
  padding-top: 10rem;
}

.about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-bottom: 8rem;
}

.about-item:nth-child(even) {
  flex-direction: row-reverse;
}

.about .text,
.about img {
  width: 50%;
  max-width: 431px;
}

.about img {
  box-shadow: #36415350 0px 8px 15px;
}

/* #endregion - About */

/* #region - Features */
.features {
  padding: 6rem 0;
}

.theme .container,
.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme .text,
.features .text {
  text-align: center;
  text-wrap: pretty;
  margin-bottom: 5rem;
}

.features .text p {
  max-width: 600px;
  margin: 0 auto;
}

.features-wrapper {
  column-count: 3;
  gap: 1.5rem;
}

.feature-item {
  background-color: var(--neutral-medium);
  border-radius: 20px;
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  aspect-ratio: 1.35/1;
  box-shadow: #b1b1b1 0px 2px 5px;
}

/* .feature-item img {
  filter: drop-shadow(#4f4f4f 0px 5px 5px);
} */

.feature-item:first-child,
.feature-item:last-child {
  background-color: var(--primary-dark);
  box-shadow: #9d9d9d 0px 2px 3px;
  align-items: flex-start;
  justify-content: flex-start;
}

.feature-item:last-child {
  justify-content: space-between;
}

.feature-item p,
.features p:first-child {
  font-size: 1rem;
}

.feature-item h3 {
  padding: 0.8rem 0;
  line-height: 100%;
}

.feature-item .btn:nth-child(1) {
  border: #000 solid 1px;
  background-color: transparent;
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
}

.feature-item .btn:nth-child(2) {
  background-color: #fff;
  padding: 0.8rem 1.25rem;
  margin: 1rem 0;
  font-size: 0.875rem;
}
.feature-item .btn:nth-child(3) {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
}
/* #endregion - Features */


/* #region - Theme */
.theme {
  background-color: #000;
  color: #fff;
  padding-top: 6rem;
}

.theme .btn-wrapper {
  gap: 0;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 5rem;
}

.theme .btn-wrapper .btn {
  background-color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 56px;
  height: 48px;
}

.theme .btn-wrapper .btn.active {
  background-color: var(--primary-dark); 
}

.theme img {
  max-width: 80%;
}


/* #endregion - Theme */

@media (max-width: 1200px) {
  h2 {
    font-size: 3rem;
  }

  .hand-pointing-img {
    display: none;
  }

  .features-wrapper,
  .customize .cards {
    column-count: 2;
    gap: 1rem;
  }

  .about-item {
    gap: 3rem;
  }
}

@media (max-width: 700px) {
  .top-banner * {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    line-height: 150%;
  }

  header p {
    font-size: 1.125rem;
  }

  header .btn-wrapper {
    display: flex;
    flex-direction: column;
  }

  .btn-wrapper .btn {
    padding: 0.9rem 2rem;
  }

  header .btn-wrapper {
    padding-bottom: 5rem;
  }

  .img-wrapper img,
  .gradient-overlay {
    width: 150%;
  }

  .features-wrapper,
  .customize .cards {
    column-count: 1;
  }

  .desktop-menu,
  .desktop-menu li {
    display: none;
  }

  .mobile-menu-btn {
    display: flex;
  }

  .about {
    padding-top: 6rem;
  }

  .about-item {
    flex-direction: column;
    padding-bottom: 6rem;
  }

  .about-item:nth-child(even) {
    flex-direction: column;
  }

  .about .text,
  .about img {
    width: 100%;
  }

  .about img {
    max-width: 80%;
  }

  .features {
    padding: 2.5rem 0;
  }

  .features p:first-child {
    font-size: 0.875rem;
    padding-bottom: 1.3rem;
  }

  .features .text {
    margin-bottom: 3.5rem;
  }

  .theme img {
    max-width: 100%;
  }
}
